[submodule "vcscommand.vim"]
	path = vcscommand.vim
	url = https://github.com/vim-scripts/vcscommand.vim.git
[submodule "vim-colors-solarized"]
	path = vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim-dispatch"]
	path = vim-dispatch
	url = https://github.com/tpope/vim-dispatch.git
[submodule "vim-notes"]
	path = vim-notes
	url = https://github.com/xolox/vim-notes
[submodule "vim-surround"]
	path = vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim-vroom"]
	path = vim-vroom
	url = https://github.com/jffjs/vim-vroom.git
[submodule "paredit.vim"]
	path = paredit.vim
	url = https://github.com/vim-scripts/paredit.vim.git
[submodule "vim-fireplace"]
	path = vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule "vim-classpath"]
	path = vim-classpath
	url = https://github.com/tpope/vim-classpath.git
[submodule "vim-clojure-static"]
	path = vim-clojure-static
	url = https://github.com/guns/vim-clojure-static.git
[submodule "vim-powerline"]
	path = vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "vim-showmarks"]
	path = vim-showmarks
	url = https://github.com/vimtopia/vim-showmarks.git
[submodule "vim-ruby-debugger"]
	path = vim-ruby-debugger
	url = https://github.com/astashov/vim-ruby-debugger.git
